<nav class="main-navigation">
    <ul class="nav-list">
        {% for item in site.navigation %}
        <li class="nav-item">
            {% set isActive = false %}
            {% if item.url == '/blog/' %}
                {% set isActive = page.url.startsWith('/blog/') or page.url.startsWith('/category/') %}
            {% else %}
                {% set isActive = page.url == item.url %}
            {% endif %}
            <a href="{{ item.url }}" class="nav-link{% if isActive %} nav-link--active{% endif %}">
                {{ item.text }}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
